<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login and Registration</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div id="wrapper">
        <h1>Welcome! Sign in to manage your jobs!</h1>
        <form action="/process" method="POST" style="display: inline-block; vertical-align: text-top; padding:50px">
            {%csrf_token%}
            <h1>Registration</h1>
            <div class="form-group">
                <label >First Name</label>
                <input name="first_name" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label >Last Name</label>
                <input name="last_name" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label >Email</label>
                <input name="email" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label >Password</label>
                <input name="password" type="password" class="form-control">
            </div>
            <div class="form-group">
                <label name="confirm_pw">Confirm Password</label>
                <input name="confirm_pw" type="password" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                {% if "register" in message.tags %}
                <li {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</li>
                {% endif %}
                {% endfor %}
            </ul>
            {% endif %}
        </form>
        <form action="/loginprocess" method="POST" style="display: inline-block; vertical-align: text-top; padding:50px">
            {%csrf_token%}
            <h1>Login</h1>
            <div class="form-group">
                <label>Email</label>
                <input name="email" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input name="password" type="password" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                {% if "login" in message.tags %}
                <li {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</li>
                {% endif %}
                {% endfor %}
            </ul>
            {% endif %}
        </form>
    </div>
</body>
</html>